<!DOCTYPE html>
<html>
  	<head>
    	<title>CGMonitor - Miners</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- Bootstrap -->
    	<link href="./../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    	<style type="text/css">
    		body {
        		padding-top: 60px;
    		}
		</style>
    	<link href="./../css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
 	</head>
	<body>
		<div class="container">
			<!-- Top nav bar-->
		 	<div class="navbar navbar-inverse navbar-fixed-top">
		    	<div class="navbar-inner">
		        	<div class="container">
		          		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            		<span class="icon-bar"></span>
		            		<span class="icon-bar"></span>
		            		<span class="icon-bar"></span>
		          		</button>
		          		<a class="brand" href="#">CGMonitor</a>
		          		<div class="nav-collapse collapse">
		          			<ul class="nav">
		              			<li><a href="/">Home</a></li>
		              			<li class="active"><a href="/miners">Miners</a></li>
		            		</ul>
		          		</div><!--/.nav-collapse -->
		        	</div>
		      	</div>
		    </div>
			<div class="row-fluid">
				<h2>{{.Name}}</h2>
  				<h3>Detailed info</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Enabled</th>
							<th>Status</th>
							<th>MH/s Average</th>
							<th>MH/s 5s</th>
							<th>Accepted</th>
							<th>Rejected</th>
							<th>Hardware Errors</th>
							<th>Utility</th>
							<th>Intensity</th>
						</tr>
					</thead>
					<tbody>
	 					{{range .Devs.Devs}}<tr>
						    <td>{{.GPU}}</td>
						    <td>{{.Enabled}}</td>
						    <td>{{.Status}}
							<td>{{.MHSAv}}</td>
							<td>{{.MHS5s}}</td>
							<td>{{.Accepted}}</td>
							<td>{{.Rejected}}</td>
							<td>{{.HardwareErrors}}</td>
							<td>{{.Utility}}</td>
							<td>{{.Intensity}}</td>
				    	</tr>{{end}}
					</tbody>
				</table>
				<h3>GPU Information</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>GPU Clock</th>
							<th>Memory Clock</th>
							<th>GPU Voltage</th>
							<th>GPU Activity</th>
							<th>Powertune</th>
							<th>Intensity</th>
							<th>Temperature</th>
							<th>Fan Speed</th>
							<th>Fan Percent</th>
							<th>Enable/Disable</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody>
						{{$name := .Name}}
	 					{{range .Devs.Devs}}<tr>
						    <td>{{.GPU}}</td>
							<td>{{.GPUClock}}</td>
							<td>{{.MemoryClock}}</td>
							<td>{{.GPUVoltage}}</td>
							<td>{{.GPUActivity}}</td>
							<td>{{.Powertune}}</td>
							<td>{{.Intensity}}</td>
							<td>{{.Temperature}}C</td>
							<td>{{.FanSpeed}}RPM</td>
							<td>{{.FanPercent}}%</td>
							<td><form name="onoff" action="/miner/{{$name}}/onoff" method="post">
								<input type="hidden" name="status" value="{{if .OnOff}}0{{else}}1{{end}}">
								<input type="hidden" name="device" value="{{.GPU}}"	>
								{{if .OnOff}}
								<button type="submit" class="btn btn-danger">Disable</button>
								{{else}}
								<button type="submit" class="btn btn-success">Enable</button>
								{{end}}
								</form>
							</td>
							<td><a href="#gpusettings{{.GPU}}" role="button" class="btn btn-primary" data-toggle="modal">GPU Settings</a></td>
				    	</tr>{{end}}
					</tbody>
				</table>

				<!-- Bunch on models for every device -->
				{{$name := .Name}}
				{{range .Devs.Devs}}
				
				<div id="gpusettings{{.GPU}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  					<div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    					<h3 id="myModalLabel">Change settings for {{$name}} - #{{.GPU}}</h3>
  					</div>
  					<div class="modal-body">
						<form name="gpusettings" class="form-horizontal" action="/miner/{{$name}}/gpu" method="post">
							<!-- Hidden values -->
							<input type="hidden" name="device" value="{{.GPU}}">
							<!--  -->
							<div class="control-group">
						    	<label class="control-label" for="GPUClock">Core clock</label>
						    	<div class="controls">
						      		<input type="text" id="GPUClock" value="{{.GPUClock}}">
						    	</div>
						  	</div>
						 	<div class="control-group">
						    	<label class="control-label" for="MemoryClock">Memory clock</label>
						    	<div class="controls">
						      		<input type="text" id="MemoryClock" value="{{.MemoryClock}}">
						    	</div>
						  	</div>
						  	<div class="control-group">
						    	<div class="controls">
						      	<label class="checkbox">
						        	<input type="checkbox"> Write config file
						      	</label>
						      	<!--<button type="submit" class="btn">Send</button>-->
						    	</div>
						  	</div>
							<div class="modal-footer">
    							<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    							<button class="btn btn-primary">Save changes</button>
  							</div>
						</form>
  					</div>
				</div>
				{{end}}
			</div>
		</div>
    	<script src="./../js/jquery-1.10.1.min.js"></script>
    	<script src="./../js/bootstrap.min.js"></script>
	</body>
</html>